In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import scipy
import seaborn as sns

In [2]:
l=pd.read_csv('LabTAT.csv')
l

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [ ]:
# Null hypothesis= There is no significant difference in the average TAT amoung the different laboratories.
# Alternate hypothesis= There is a significant difference in the average TAT amoung the different laboratories.

In [ ]:
# Now we apply one way annova test to check the pvalue.

In [4]:
l.columns="Laboratory 1","Laboratory 2","Laboratory 3","Laboratory 4"
stats.f_oneway(l.iloc[:,0],l.iloc[:,1],l.iloc[:,2],l.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [5]:
# since the pvalue is greater than 0.05, we reject the null hypothesis and accept the alternate hypothesis.

In [ ]:
# There is a significant difference in the average TAT amoung the different laboratories.